<ion-content>
  <div class="content">
    <div class="map" #map></div>

    <div class="btn-container">
      <ion-button
        *ngIf="pickup"
        color="primary"
        class="confirm-btn confirm-pickup ion-margin"
        (click)="confirmPickup()"
      >
        CONFIRM PICKUP
      </ion-button>
      <ion-button
        *ngIf="dropOff"
        color="primary"
        class="confirm-btn confirm-pickup ion-margin"
        (click)="confirmDropoff()"
      >
        CONFIRM DROPOFF
      </ion-button>
    </div>
  </div>
</ion-content>
