<ion-header>
  <ion-toolbar>
    <ion-title>New Trip</ion-title>
    <ion-buttons slot="start">
      <ion-icon class="back" size="large" name="arrow-back-outline" (click)="goBack()"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button
      (click)="onCreateTrip()"
      [disabled]="!tripBookingForm.valid"
      >
        <ion-icon name="checkmark" size="large" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="tripBookingForm">
    <ion-grid class="ion-no-padding">
      <ion-row class="map-img">
        <ion-col size="12">
          <div class="map-preview">
            <div class="map" #map></div>
            <div class="map-btn">
              <ion-button color="primary" (click)="openMapPickerModal()">
                <ion-icon name="locate" slot="start"></ion-icon>
                <ion-label>Select Location</ion-label>            
              </ion-button>
            </div>
            <!-- <ion-img class="static-map-img" src="assets/backgrounds/7.png"></ion-img> -->
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="info">
        <ion-col size-sm="6" offset-sm="3">
          <ion-item lines="none">
            <ion-label>Seats Available</ion-label>
            <div class="counter">
              <span class="plus btn btnP" (click)="incrementSeat()">+</span>
              <span class="value">{{seatsCounter}}</span>
              <span class="minus btn btnM" (click)="decrementSeat()">-</span>
            </div>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="info">
        <ion-col size-sm="3" offset-sm="3">
          <ion-item lines="none">
            <ion-label position="floating">Start Date</ion-label>
            <ion-datetime
            formControlName="startDate"
            ></ion-datetime>
          </ion-item>
        </ion-col>
        <ion-col size-sm="3">
          <ion-item lines="none">
            <ion-label position="floating">Start Time</ion-label>
            <ion-datetime displayFormat="H:mm:A"
            formControlName="startTime"
            ></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="info">
        <ion-col size-sm="6" offset-sm="3">
          <ion-item lines="none">
            <ion-label position="floating">Details</ion-label>
            <ion-textarea rows="3"
            formControlName="description"
            ></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
